* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    color: #fff;
    z-index: 999;
  }

  header {
    background-color: #333;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 50px;
    position: relative;

  }

  .menu li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #ccc; /* Ganti dengan warna pembatas yang diinginkan */
  }

  .menu li:last-child::after {
    display: none; /* Menghilangkan pembatas di elemen terakhir */
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }

.banner {
    text-align: center;
    padding-top: 50px;
  }
  
  .banner img {
    max-width: 100%;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news-article {
    margin-bottom: 30px;
  }
  
  p {
    line-height: 1.5;
  }

  .justify {
    text-align: justify;
  }
  