/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    color: #fff;
    z-index: 999;
  }

  header {
    background-color: #333;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 50px;
    position: relative;

  }

  .menu li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #ccc; /* Ganti dengan warna pembatas yang diinginkan */
  }

  .menu li:last-child::after {
    display: none; /* Menghilangkan pembatas di elemen terakhir */
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background-image: url("../asset/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    color: #fff;
  }
  
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #ffcc00;
    color: #333;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ffd633;
  }
  
  .features {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .feature {
    width: 300px;
    padding: 20px;
    margin: 0 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  header {
    padding-top: 10px;
  }
  